/* all content */
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
/*section*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*header*/
.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
.image-perfil {
  margin: 10px;
}
.image-perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}
.datos-principales {
  min-height: 250px;
  text-align: center;
}
.datos-principales h1 {
  color: #301e67;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
}
.datos-principales h2 {
  color: #f5f6f7;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  font-weight: lighter;
}
/*Contenido global*/
.seccion-oscura {
  color: #c0eef2;
  background-color: #301e67;
}
.seccion-clara {
  color: #301e67;
  background-color: #c0eef2;
}
.seccion-titulo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  font-family: "IBM Plex Sans", sans-serif;
}
.texto-negro {
  color: black;
}
.texto-blanco {
  color: white;
}
body {
  background: url(https://th.bing.com/th/id/R.3a7cd36754fe86bfc4f15c6b7b4b7ce8?rik=solY%2fBuKo8tIuA&riu=http%3a%2f%2feskipaper.com%2fimages%2fblue-background-2.jpg&ehk=VRJi%2b%2fl73Dp9WFEpKtoD8rMiBlFr4kxJB5vE3s%2bgWVI%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
}
/*about me*/
.sobre-mi {
  height: 600px;
  padding: 10px;
}
.seccion-texto {
  color: #f5f6f7;
  padding: 40px;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  justify-content: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
}
/*Cursos*/
.cursos {
  padding: 40px 40px 40px 40px;
}
.cursos .carousel {
  max-width: 800px;
}
.carousel-item {
  height: 700px;
}
/*proyectos*/
.proyectos {
  padding: 40px;
  height: 1000px;
}
.proyectos img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}
.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyect {
  position: relative;
}

.proyect:hover img {
  opacity: 0.2;
}

.proyect:hover .overlay {
  opacity: 1;
}
.overlay .iconos-contenedor {
  display: flex;
}
.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}
/*class de selectores*/
.experiencias {
  height: 600px;
  background-color: #e9f8f9;
  border: 5px solid #301e67;
  border-radius: 5px;
  margin: 20px;
}
/*Contact*/
.contact .conteiner {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}
.contact .rectangulo {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}
.contact .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.contact .descripcion {
  color: white;
  font-size: 1.2rem;
  padding: 30px;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}
.contact button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
.contact button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}
.contact button:hover {
  background-color: white;
  color: black;
}
.contact button:hover i {
  color: black;
}
/*FOOTER*/
footer {
  min-height: 400px;
  background-color: #301e67;
}

.footer-text {
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
}
.icons-redes a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
.icons-redes i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2 ease-in;
}
.icons-redes a:hover {
  background-color: white;
  border: rgb(13, 110, 253);
}
.icons-redes a:hover i {
  color: black;
}
.derechos-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
  margin-top: 30px;
}
/*media quory*/
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .sobre-mi {
    padding-top: 80px;
  }
  .sobre-mi .seccion-texto {
    padding-top: 0px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 600px) {
  .cursos .carousel .carousel-item {
    height: 300px;
    height: 300px;
  }
}
